
.vscode/*
.snowqm/*
node_modules/
out/
bin/
!.vscode/tasks.json
!.vscode/launch.json
dist/
coverage/*
.env
spark_sample1.egg-info/
build/
__py_cache__/
__pycache__/
spark_sample1/metastore_db/
spark_sample1/spark-warehouse/
spark_sample1/derby.log
airflow/logs/
airflow/dags/__pycache__
airflow/airflow.db
airflow/airflow-webserver.pid
spark-warehouse/
metastore_db/
snowpark_sample1/*.egg*
airflow/airflow-webserver.pid
airflow/airflow.db
